@media only screen and (max-width: 1400px) {
	.why-img img {
    height: 500px;
    width: 430px;
	}
	nav .list-inline-item {
    margin: 0 10px;
	}
	.numbers-img img {
    height: 782px;
    width: 638px;
	}
}
@media only screen and (max-width: 1325px) {
	
}
@media only screen and (max-width: 1200px) {
	.oportunity-image{
		width: 500px;
	}
	nav .list-inline-item {
    margin: 0px 10px;
	}
	.slider_testimonial{
		padding-top: 100px;
	}
	.slider_testimonial .testimonial{
		padding-top: 25px;
	}
	.slider_testimonial .testimonial img{
		max-width: 100%;
	}
	.swiper-button-next, .swiper-button-prev{
		top: 0;
		margin-top: 0;
	}
	.swiper-button-next{
    right: 50%;
		margin-right: -110px;
	}
	.swiper-button-prev{
    left: 50%;
		margin-left: -110px;
	}
	.tarif-item {
    padding: 30px;
	}
	.tarif-list li {
    font-weight: 400;
    font-size: 16px;
	}
	.logo img{
		max-width: 200px;
	}
	.list-inline-item:not(:last-child) {
    margin: 0px 10px;
	}
	.dt-btn {
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 14px;
	}
	.languages-block{
		margin-left: auto;
	}
	h1 {
    font-size: 80px;
    line-height: 94px;
	}
	header{
		padding-bottom: 25px;
	}
	header .intro-img {
    width: 822px;
    height: 647px;
    right: -160px;
	}
	#for-coin {
    width: 220px;
    height: 560px;
    top: 280px;
	}
	.for-block-wrapper .for-block h4{
		font-size: 22px;
	}
	.why-img img {
    height: 395px;
    width: 330px;
	}
	.section-format {
		padding-top: 0;
	}
	.numbers-img {
		padding-top: 200px;
	}
}
@media only screen and (max-width: 992px) {
	.numbers-img {
		padding-top: 300px;
	}
	.numbers-img img {
    height: 575px;
    width: 461px;
	}
	.accordion-item button {
    padding: 15px 20px;
    font-size: 18px;
	}
	.testimonials-container {
    width: 100%;
	}
	#tariffs-coin {
    width: 310px;
    height: 530px;
    bottom: 500px;
	}
	.tarif-item {
    margin-top: 50px;
	}
	header .intro-info {
    width: 100%;
	}
	header {
    padding-top: 175px;
	}
	header .description {
		width: 100%;
	}	
	header .intro-img {
    width: 527px;
    height: 380px;
    right: 221px;
    top: 255px;
	}
	.section-title {
    font-size: 60px;
    line-height: 64px;
	}
	#for-coin {
    width: 140px;
    height: 350px;
    top: 475px;
	}
	.section-format{
		padding: 50px 0;
	}
	.format-block{
		background-size: cover;
		background-position: center center;
	}
	.program-block .number{
		margin-bottom: 25px;
	}
	.offer-tags .tag {
    margin-left: 0;
		margin-right: 10px;
	}
	.program-block .program-title {
    margin-bottom: 25px;
	}
	.program-block {
    background-position: right top;
	}
	.program-block::after{
		transform: rotate(-180deg);
	}
	.why-info {
    width: 100%;
	}
	.why-img {
    display: none;
	}
	.section-why-content{
		background-image: none;
	}
	.section-why {
    padding: 150px 0 325px;
    background-size: cover;
	}
	#faq-img-1, #faq-img-2{
		display: none;
	}
	.section-faq{
		background-image: none;
	}
	.section-testimonials{
		background-image: none;
	}
	.section-oportunity {
		padding-top: 150px;
	}
	.oportunity-notice {
    margin-top: 100px;
	}
	.section-numbers-content {
		background-image: none;
	}
}
@media only screen and (max-width: 768px) {
	.section-offers {
    padding-top: 0;
    padding-bottom: 0;
    background: url(../img/tariffs-img.png) center bottom no-repeat, url(../img/offers-light-bg.png) 200px 50px no-repeat;
	}
	.section-offers .section-title{
		margin-bottom: 200px;
	}
	.offers-notice{
		top: 120px;
		right: 15px;
	}
	.numbers-img::after{
		background: none;
	}
	.numbers-img {
    height: 500px;
		padding-top: 0;
		top: auto;
		bottom: 0;
	}
	.numbers-img img {
		max-height: 100%;
	}
	.oportunity-image {
    width: 50%;
    height: 450px;
    background-size: cover;
		top: auto;
    bottom: 0;
	}
	.section-faq{
		padding: 75px 0 0;
	}
	#tariffs-coin {
		top: 500px;
    bottom: auto;
	}
	header {
		padding-top: 120px;
		padding-bottom: 0;
	}
	header .option p span {
    width: 100%;
	}
	header .intro-img {
    right: 35px;
    top: 285px;
	}
	header .dt-btn{
		width: 100%;
	}
	header .description {
    text-align: center;
	}
	nav.navbar {
		padding: 25px 0;
	}
	.logo img{
		width: 150px;
	}
	.languages-block {
    font-size: 16px;
		padding: 0;
	}
	header .intro-img {
    right: -20px;
	}
	h1 {
    font-size: 66px;
    line-height: 72px;
	}
	header .intro-img {
    top: 225px;
	}
	.program-block::after{
		opacity: 0.6;
	}
}
@media only screen and (max-width: 500px) {
	.section-authors .section-title {
    font-size: 43px;
    line-height: 45px;
	}
	.why-img {
    width: 100%;
	}
	.why-img img {
    height: 350px;
    width: 100%;
	}
	header .intro-img{
		right: 20px;
		width: 100%;
    height: 300px;
		top: 245px;
	}
	header .description{
		color: #fff;
		font-size: 16px;
		margin-top: 150px;
	}
	.offer-tags{
		flex-direction: column;
	}
	.offer-tags .tag{
		margin-bottom: 10px;
	}
}
@media only screen and (max-width: 400px) {
	h1 {
    font-size: 50px;
    line-height: 60px;
	}
	header .intro-img {
    right: 0;
    top: 200px;
	}
	header .option p {
    font-size: 14px;
    line-height: 22px;
	}
	.why-img img {
    height: 250px;
	}
	.section-title {
    font-size: 44px;
    line-height: 54px;
	}
}


@media only screen and (min-width: 1400px) {
	.container {
    max-width: 1160px;
	}
}
@media only screen and (min-width: 1200px) {
	
}
@media only screen and (min-width: 992px) {

}
@media only screen and (min-width: 576px) {
	
}